/* Colours */
:root {
  --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}

/* Typography */
/* Fonts */
/* Media Query break points */
/* Global reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--pale-blue);
}
@media only screen and (min-width: 1440px) {
  body {
    background-color: var(--very-dark-blue);
    background-image: url("../images/bg-desktop.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.container {
  display: flex;
  flex-direction: column;
  background-color: none;
  grid-gap: 1.5rem;
  width: 86%;
  height: 100%;
}
@media only screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    width: 64%;
    height: fit-content;
    grid-gap: 3rem;
  }
}
.container .fylo {
  border-radius: 10px 100px 10px 10px;
  background-color: var(--dark-blue);
  padding: 4rem;
}
@media only screen and (min-width: 1440px) {
  .container .fylo {
    flex-grow: 1;
  }
}
.container .fylo__logo {
  margin: 1rem 0 3rem 0;
}
.container .fylo__icons {
  display: flex;
  align-items: center;
  grid-gap: 1.5rem;
}
.container .fylo__icons figure {
  height: 5rem;
  width: 5rem;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .fylo__icons .icon {
  border-radius: 10px;
}
.container .meter {
  border-radius: 10px;
  background-color: var(--dark-blue);
  padding: 3rem 3rem 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
@media only screen and (min-width: 1440px) {
  .container .meter {
    flex-grow: 2;
    align-self: flex-end;
    padding: 4rem;
  }
}
.container .meter__description {
  text-align: center;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 1440px) {
  .container .meter__description {
    text-align: left;
  }
}
.container .meter__bar {
  height: 2rem;
  width: 100%;
  padding: 0.1rem;
  background-color: hsl(227deg, 57%, 18%);
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.container .meter__bar-value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  height: 1.3rem;
  padding: 0.1rem;
  width: 81.5%;
  background: var(--gradient);
  border-radius: 10px;
}
.container .meter__bar-value-ball {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--pale-blue);
}
.container .meter__gb-range {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}
.container .meter__gb-range-min {
  justify-self: flex-start;
}
.container .meter__gb-range-max {
  justify-self: flex-end;
}
.container .meter__msg-box {
  position: absolute;
  top: 61%;
  left: 50%;
}
@media only screen and (min-width: 1440px) {
  .container .meter__msg-box {
    top: -40%;
    left: unset;
    right: 4rem;
    display: flex;
    flex-direction: column;
  }
}
.container .meter__gb-left {
  background-color: white;
  padding: 1.25rem 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  align-self: center;
  font-weight: 700;
  position: relative;
  left: -50%;
}
@media only screen and (min-width: 1440px) {
  .container .meter__gb-left {
    left: 0;
    border-bottom-right-radius: 0;
  }
}
.container .meter__gb-left-num {
  color: var(--very-dark-blue);
  font-size: 4rem;
}
.container .meter__gb-left-text {
  color: var(--grayish-blue);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.container .meter__triangle {
  display: none;
}
@media only screen and (min-width: 1440px) {
  .container .meter__triangle {
    align-self: flex-end;
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

/*# sourceMappingURL=style.css.map */
